<h1>Photobomb</h1>
<div class="post-wrapper row">
  <% @post.each do |p| %>
    <div class="post">
      <div class="post-head">
        <div class="name">
          Jasen Carroll
        </div>
      </div>
      <div class="image center-block">
        <%= image_tag p.image.url(:medium)  %>
        <p class="caption"><%= p.caption %></p>
      </div>
    </div>
  </div>
<% end %>
