<div class="post-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">
        Jasen Carroll
      </div>
    </div>
    <div class="image center-block">
      <%= image_tag @post.image.url(:medium), class:'img-responsive' %>
      <p class="caption"><%= @post.caption %></p>
    </div>
    <div class="text-center">
      <%= link_to "Cancel", posts_path %>
    </div>
  </div>
</div>
